.tree {
  height: 100px;
  width: 2px;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 400px solid green;
  margin-top: 1cm;
  z-index: 4;
}
.stump {
  height: 300px;
  width: 150px;
  background-color: saddlebrown;
  z-index: 1;
}
body {
  background-color: skyblue;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sun {
  background-color: orange;
  height: 40%;
  width: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  align-items: flex-end;
}
@media only screen and (max-width: 480px) {
  .tree {
    height: 25px;
    width: 2px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid green;
    margin-top: 1cm;
    z-index: 4;
  }
  .stump {
    height: 75px;
    width: 38px;
    background-color: saddlebrown;
    z-index: 1;
  }
  body {
    background-color: skyblue;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .sun {
    background-color: orange;
    height: 10%;
    width: 15%;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1024px) {
  .tree {
    height: 75px;
    width: 2px;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 250px solid green;
    margin-top: 1cm;
    z-index: 4;
  }
  .stump {
    height: 200px;
    width: 100px;
    background-color: saddlebrown;
    z-index: 1;
  }
  body {
    background-color: skyblue;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .sun {
    background-color: orange;
    height: 30%;
    width: 40%;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1680px) {
  .tree {
    height: 100px;
    width: 2px;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    border-bottom: 400px solid green;
    margin-top: 1cm;
    z-index: 4;
  }
  .stump {
    height: 300px;
    width: 150px;
    background-color: saddlebrown;
    z-index: 1;
  }
  body {
    background-color: skyblue;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .sun {
    background-color: orange;
    height: 40%;
    width: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    align-items: flex-end;
  }
}
